html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.w50 {
    width: 50px;
}

div.fox-editor {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    width: auto;
    height: auto;
    box-sizing: content-box;
    position: relative;
    display: block;
    border: 1px solid #b6b6b6;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

div.fox-editor.maximize {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}

div.control-panel {
    width: 100%;
    height: 60px;
    margin: 0;
    background: linear-gradient(to top, #cfd1cf, #ebebeb) repeat scroll 0 0 #cfd1cf;
    border-bottom: 1px solid #b6b6b6;
    box-shadow: 0 1px 0 #fff inset;
    padding: 0;
}

div.editor-view {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    box-sizing: content-box;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
    vertical-align: baseline;
    width: auto;
    display: block;
    overflow: hidden;
}

.maximize div.editor-view {
    position: absolute;
    top: 60px;
    bottom: 20px;
    left: 0;
    right: 0;
}

.maximize textarea.editor-source {
    position: absolute;
    top: 60px;
    bottom: 20px;
    left: 0;
    right: 0;
}

.maximize .control-panel {
    position: absolute;
    top: 0;
    left: 0;
}

.maximize .panel {
    position: absolute;
    bottom: 0;
    left: 0;
}

iframe.editor-view {
    background-color: #ffffff;
    border: 0 none;
    box-sizing: content-box;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
    vertical-align: baseline;
    width: 100%;
}

textarea.editor-source {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    box-sizing: content-box;
    display: block;
    height: auto;
    margin: 0;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    vertical-align: baseline;
    width: auto;
    padding: 5px;
    overflow-y: scroll;
    resize: none;
    tab-size: 3;
    -o-tab-size: 3;
    -moz-tab-size: 3;
}

div.panel {
    width: 100%;
    height: 20px;
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, #cfd1cf, #ebebeb) repeat scroll 0 0 #cfd1cf;
    border-top: 1px solid #bfbfbf;
    box-shadow: 0 1px 0 #fff inset;
}

.control-panel span.tool-bar {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center top, #fff, #e4e4e4) repeat scroll 0 0 #e4e4e4;
    border-image: none;
    border-radius: 3px;
    border: 1px solid #a6a6a6;
    border-bottom-color: #979797;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 1px 0 rgba(255, 255, 255, 0.15) inset;
    float: left;
    margin: 7px 0 0 10px;
    border-collapse: collapse;
    box-sizing: content-box;
    color: #000;
    cursor: auto;
    font: 12px Arial, Helvetica, Tahoma, Verdana, sans-serif;
    height: auto;
    padding: 0;
    position: static;
    text-align: left;
    text-decoration: none;
    transition: none 0s ease 0s;
    vertical-align: baseline;
    white-space: nowrap;
    width: auto;
}

.tools-bar .tool-separator {
    background-color: #d1d1d1;
    border: 0 none;
    display: inline-block;
    float: left;
    font-size: 0;
    height: 18px;
    line-height: 0;
    margin-top: 4px;
    padding: 0;
    vertical-align: middle;
    width: 1px;
}

.tool-bar a.f-tool-button {
    height: 18px;
    width: 18px;
    display: inline-block;
    border: 0 none;
    font-size: 0;
    vertical-align: middle;
    line-height: 0;
    padding: 4px 6px;
    float: left;
    cursor: pointer;
}

.tool-bar .f-tool-button:hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3) inset;
    background-color: #f2f2f2;
}

.tool-bar a.f-tool-button.activate {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3) inset;
    background-color: #ccc;
}

a.f-tool-button span.f-icon {
    background-repeat: no-repeat;
    cursor: inherit;
    display: inline-block;
    float: left;
    height: 16px;
    margin-top: 1px;
    width: 16px;
    border: 0 none;
    border-collapse: collapse;
    box-sizing: content-box;
    color: #000;
    font: 12px Arial, Helvetica, Tahoma, Verdana, sans-serif;
    padding: 0;
    position: static;
    text-align: left;
    text-decoration: none;
    transition: none 0s ease 0s;
    vertical-align: baseline;
    white-space: nowrap;
}

a.f-tool-button span.f-icon-def {
    border: 0 none;
    border-collapse: collapse;
    box-sizing: content-box;
    color: #000;
    cursor: inherit;
    display: inline-block;
    float: left;
    font: 14px Arial, Helvetica, Tahoma, Verdana, sans-serif;
    height: 16px;
    margin-top: 1px;
    padding-left: 5px;
    position: static;
    text-align: left;
    text-decoration: none;
    vertical-align: baseline;
    white-space: nowrap;
}