html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

div.fox-editor {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    width: auto;
    height: auto;
    box-sizing: content-box;
    position: relative;
    display: block;
    border: 1px solid #b6b6b6;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

div.control-panel {
    width: 100%;
    height: 60px;
    margin: 0;
    background: linear-gradient(to top, #cfd1cf, #ebebeb) repeat scroll 0 0 #cfd1cf;
    border-bottom: 1px solid #b6b6b6;
    box-shadow: 0 1px 0 #fff inset;
    padding: 0;
}

div.editor-view {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    box-sizing: content-box;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
    vertical-align: baseline;
    width: auto;
    display: block;
    overflow: hidden;
}

iframe.editor-view {
    background-color: #ffffff;
    border: 0 none;
    box-sizing: content-box;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
    vertical-align: baseline;
    width: 100%;
}

div.panel {
    width: 100%;
    height: 20px;
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, #cfd1cf, #ebebeb) repeat scroll 0 0 #cfd1cf;
    border-top: 1px solid #bfbfbf;
    box-shadow: 0 1px 0 #fff inset;
}